html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden; /* Scrollbars hatao */
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  /* Touch action none se mobile pe double tap zoom band hota hai */
  touch-action: none; 
}